
<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%=homeStarting%></p>



    <%Posts.forEach(function(post){ %>

     <h2><%=post.Title%></h2>

    

     <span>
          <p class="text single-line"><%=post.Text%></p>
          <a href="">Read More</a>
     </span>
    <%})%>

    

<%- include('partials/footer'); -%> 