<%- include("partials/header"); -%>

<<<<<<< HEAD
  <h1><%=title%></h1>
  <p><%=content%></p>
=======
<h2><%=Title %></h2>
<p><%= Text %></p>
>>>>>>> eac1c2b9605415824764e4fc75a9728588a134a4

<%- include("partials/footer"); -%>
