<%- include('partials/header') -%>

<<<<<<< Updated upstream
<h2><%= title %></h2>
<p><%= content %></p>
=======

<h2><%=Title%></h2>
<p>   <%=Text%></p>
>>>>>>> Stashed changes

<%- include('partials/footer') -%>
